# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
node_modules

# testing
/coverage

# production
/build
/client/build

# misc
.DS_Store
.env
.env.heroku
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tempCodeRunnerFile.javascript
.vscode
/.vscode
.eslintcache
TODO.*
TODO
*.pem
*.crt
*.key
package-lock.json
