.today {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.today > * {
  flex: 0 1 auto;
  margin: 0.5rem;
}

.today-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.today-data > * {
  margin: 0.25rem;
}
