.content-overflow-fix {
  overflow-y: auto;
  flex: 1;
}

.content {
  height: 100%;
  background: white;
}

/* $corner-size: 0.5rem;
$corner-offset: $corner-size / 2;
.corner {
  position: absolute;
  height: $corner-size;
  width: $corner-size;
}

.nw-corner {
  left: -#{$corner-offset};
  top: -#{$corner-offset};
  cursor: nw-resize !important;
}

.ne-corner {
  right: -#{$corner-offset};
  top: -#{$corner-offset};
  cursor: ne-resize !important;
}

.se-corner {
  right: -#{$corner-offset};
  bottom: -#{$corner-offset};
  cursor: se-resize !important;
}

.sw-corner {
  left: -#{$corner-offset};
  bottom: -#{$corner-offset};
  cursor: sw-resize !important;
}

.side {
  position: absolute;
}

$side-size: 0.25rem;
$side-offset: $side-size / 2;
.n-side {
  height: $side-size;
  width: 100%;
  top: -#{$side-offset};
  left: 0;
}

.e-side {
  height: 100%;
  width: $side-size;
  right: -#{$side-offset};
  top: 0;
}

.s-side {
  height: $side-size;
  width: 100%;
  bottom: -#{$side-offset};
  left: 0;
}

.w-side {
  height: 100%;
  width: $side-size;
  left: -#{$side-offset};
  top: 0;
} */
